$color_1: #353535;
$color_2: #101010;
$color_3: transparent;
$color_4: #FFFFFF;
$color_5: #000000;
$color_7: #008766;
$color_8: #7E7E7E;
$font-family_1: 'Shrikhand';
$font-family_2: 'Roboto';
$font-family_3: 'roboto';
$font-family_4: 'Roboto Flex', sans-serif;
$font-family_5: 'roboto', sans-serif;
$background-color_1: #FFFFFF;
$background-color_2: #F7F7F7;
$background-color_3: #353535;
$background-color_4: #F7F7F7;
$background-color_5: #9356DC;
$background-color_6: #353535;
$background-color_7: #EAEAEA;
$background-color_8: #99E2D0;
$background-color_9: transparent;
$light-gradient : linear-gradient( rgba(255, 121, 217, 0.835) 0%, rgba(146, 86, 220, 0.863)100%);
$gradient: linear-gradient(#FF79DA, #9356DC);
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$border-top-color_1: #F7F7F7;
$font-family_1: 'Roboto Slab' ,sans-serif;
$font-family_2: 'roboto flex', sans-serif;
$font-family_3: 'Roboto', sans-serif;
$font-family_4: 'Roboto Flex', sans-serif;
$font-family_5: 'roboto';
$font-family_6: 'roboto', sans-serif;
$font-family_7: 'Shrikhand';

@mixin btnhome {
	color: $color_4;
	font-family: $font-family_4;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 218px;
	height: 50px;
	background: ($gradient);
	border-radius: 25px;
	margin-top: 40px;
	margin-bottom: 57px;
	padding-top: 13px;
	padding-bottom: 13px;
	box-shadow: 0px 2px 8px rgba(0,0,0,15);
}

@mixin btnhome_clair {
	color: $color_4;
	font-family: $font-family_4;
	font-weight: 500;
	font-size: 16px;
	font-style: normal;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 218px;
	height: 50px;
	background: ($light-gradient);
	border-radius: 25px;
	margin-top: 40px;
	margin-bottom: 57px;
	padding-top: 13px;
	padding-bottom: 13px;
	box-shadow:  3px 4px 10px rgba(0,0,0,20);
	}
	* {
		padding: 0;
		margin: 0;
		list-style: none;
		box-sizing: border-box;
		text-decoration: none;
	}
body {
	background: #FFFFFF;
	height: 2121px;
}

/* Début de mon Loader */

@keyframes disappear {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}

/* loader Quart de cercle */

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
.chargement {
	z-index: 1000;
	position: absolute;
	top: 0%;
	bottom: 0%;
	left: 0%;
	right: 0%;
	height: 2401px;
	line-height: 500px;
	background: linear-gradient(#9256dce2, #ff79d9);
	animation: disappear 3s 1s forwards;
	transform-origin: top;
	width: 100%;
}

.loader-1 {
	position: absolute;
	font-size: 2rem;
	color: $color_4;
	left: 23%;
	top: 10%;
}

.loader {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
}

.loader-quart {
	border-radius: 50px;
	border: 6px solid rgba(255, 255, 255, 0.4);
	&:after {
		content: "";
		position: absolute;
		top: -6px;
		left: -6px;
		bottom: -6px;
		right: -6px;
		border-radius: 50px;
		border: 6px solid transparent;
		border-top-color: $border-top-color_1;
		animation: spin 1s linear 0s infinite;
	}
}

/* Fin de mon Loader*/



.titre {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 63px;
	background-color: $background-color_1;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
	img {
		
    height: 36px;
    width: 197px;
	}
}

.bar_search {
	width: 100%;
	height: 50px;
	background-color: $background-color_7;
	margin-top: 2.5px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

#ville {
	width: 174px;
	height: 32px;
	border: none;
	font-family: $font-family_1;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	padding-left: 17px;
	letter-spacing: 1px;
	color: $color_2;
	background: $background-color_9;
}

.icon {
	color: $color_2;
}

form {
	align-items: center;
	display: flex;
	
}
.introduction  {
	width: 100%;
	height: 292px;
	margin-top: 0px;
	background-color: $background-color_4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	
	
	h1 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		font-family: $font-family_2;
		font-weight: 700;
		font-style: normal;
		font-size: 24px;
		width: 100%;
		height: 68px;
		padding-top: 39.5px;
	}
	p {
		display: flex;
		flex-direction: row;
		justify-content: center;
		text-align: center;
		padding-top: 41.5px;
		width: 100%;
		font-family: $font-family_3;
		font-weight: 300;
		font-style: normal;
		font-size: 18px;
		color: $color_2;
		}
	
}

.cta {
	@include btnhome;
	&:hover{
		@include btnhome_clair;
	}
	
}


.solutions {
	width: 100%;
	height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-top: 48px;
	h2 {
		display: flex;
		justify-content: stretch;
		padding-left: 32px;
		font-family: $font-family_2;
		font-size: 24px;
		font-style: normal;
		font-weight: 700;
		padding-bottom: 32px;
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-left: 20px;

		.btn , .btn2 , .btn3 {
			display: flex;
			align-items: center;
			width: 335px;
			height: 72.5px;
			margin-bottom: 25px;
			background: #F7F7F7;
			border-radius: 20px;
			box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	}
	
	.box{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-left: -1rem;
		color: $color_4;
		font-family: $font-family_5;
		font-weight: 500;
		font-size: 14px;
		font-style: normal;
		margin-right: 336px;
			>p {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				background-color: $background-color_5;
				border-radius: 100px;
				width: 24px;
				height: 24px;
				margin-right: 22px;
			}

			a{
				margin-left: 27px;
				width: 377px;
			}
	}
}


.fa-mobile-screen-button {
	font-size: large;
	padding-left: 10px;
	color: $color_8;
	
}

.fa-list-ul {
	font-size: large;
	padding-left: 10px;
	color: $color_8;
}

.fa-store {
	font-size: large;
	color: $color-primary;
	padding-left: 10px;
}

a {
	color: $color_5;
	font-size: 16px;
	font-family: $font-family_6;
	font-weight: 500;
	font-style: normal;
}

.restaurants {
	display: flex;
	flex-direction: column;
	padding-left: 14px;
	background-color: $background-color_4;
	height: 1291px;

	h2 {
		padding-top: 54px;
		padding-bottom: 35px;
		font-family: $font-family_2;
		font-size: 24px;
		font-weight: 700;
		font-style: normal;
		padding-left: 4px;
	}
	.les_etablissements {
		margin-bottom: 20px;
	}

	
	.cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 346px;
		height: 251px;
		background-color: $background-color_1;
		border-radius: 15px;
		margin-left: Opx;
		margin-bottom: 18px;
		overflow: hidden;
	}
	img {
		width: 346px;
		height: 231px;
		border-radius: 15px 15px 0px 0px;
		margin-top: -57px;
		object-fit: cover;
	}
}



.card_content {
	padding-top: 10px;
	display: flex;
	flex-direction: column;
}

.card_txt {
	padding: 0px 13px 12px 13px;
	p {
		font-family: $font-family_6;
		font-size: 17px;
		font-style: normal;
		font-weight: 300;
	}
	h3 {
		font-family: $font-family_6;
		font-weight: 700;
		font-size: 18px;
		font-style: normal;
		width: 267px;
	}
}

.card_rating {
	display: flex;
	flex-direction: row-reverse;
	justify-content: right;
	align-items: flex-end;
	position: relative;
	bottom: 73px;
	left: -31px;


.coeur_plein {
	position: absolute;
	opacity: 0;
	transition-property: all;
	transition-duration: 2s;
	&:hover {
		opacity: 1;
		color: $color_3;
		background-image: linear-gradient(#9356DC, #FF79DA);
		background-clip: text;
		-webkit-background-clip: text;
	}
}
}

.fa-regular {
	font-weight: 300;
	font-size: 1.5em;
}

.fa-heart {
	font-weight: 300;
	font-size: 1.5em;
}

.badge {
	position: absolute;
	left: 265px;
	top: 980px;
	width: 80px;
	height: 29px;
	background: $background-color_8;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	color: $color_7;
	>p {
		width: 61.37px;
		height: 16px;
		font-family: $font-family_5;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		line-height: 16px;
		position: absolute;
		right: 9.63px;
		top: calc(50% - 16px/2 + 0.5px);
	}
}

.badge2 {
	position: absolute;
	left: 265px;
	top: 1274px;
	width: 80px;
	height: 28px;
	background: $background-color_8;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	color: $color_7;
	>p {
		width: 61.37px;
		height: 16px;
		font-family: $font-family_5;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		text-align: center;
		line-height: 16px;
		position: absolute;
		right: 9.63px;
		top: calc(50% - 16px/2 + 0.5px);
	}
}

.footer {
	height: 214px;
	background-color: $background-color_3;
	display: flex;
	flex-direction: column;
	.details {
		h4 {
			padding-left: 25px;
			padding-top: 22px;
		}
		display: flex;
	}
	ul {
		>li {
			padding-bottom: 7px;
			font-family: $font-family_5;
			font-size: 16px;
			font-weight: 500;
			font-style: normal;
		}
		li {
			.fa-solid {
				padding-right: 11px;
				color: $color_4;
			}
			.espace {
				margin-right: 9px;
				padding-left: 1px;
			}
		}
	}
}
.details {
	h4 {
		color: $color_4;
	}
	display: flex;
	padding-bottom: 18px;
	font-family: $font-family_1;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
}
li {
	color: $color_4;
}

.container_footer {
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

.services {
	display: flex;
	flex-direction: column;
}

.politique {
	display: flex;
	flex-direction: column;
}

.politique ul li >a{
	color: $color_4;
}

 /*responsiv tablette*/

@media screen and (min-width: 576px) and (max-width:768px) {
	body {
		height: 1709px;                                                                                                  
	}
	                       
	.chargement {
		width: 768px;
		height: 1790px;
	}
	.loader-1 {
		left: 285px;
	}

	.titre{
		
		height: 96px;
	}
	.solutions{
		padding-left: 10px;
		height: 331px;
		align-items: center;
		margin-left: 12px;
	
	h2{
		padding-left: 0px;
	}
	.container {
		align-items: center;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		padding-left: 18px;
	}
	.btn , .btn2 , .btn3 {
		margin-right: 35px;

	}
}

	.restaurants {
		padding-left: 40px;
		width: 768px;
		height: 737px;
		align-items: center;
		.cards {
			margin-bottom: 50px;
			margin-right: 20px;
			width: 324px;
			height: 261px;
		}
		img{
			width: 376px;
			margin-left: -3rem;
		}
		h2 {
			padding-left: 0px;
		}
		.les_etablissements {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			width: 743px;
		}
		.card_rating{
			left: -4rem;
		}
		.badge{
			left:274px;
			top: 910px;
		}
		.badge2{
			top: 910px;
			left: 643px;
		}
	}

	.footer {
		width: 100%;
		display: flex;
		justify-content: center;
		.details {
			display: flex;
			justify-content: center;
			h4 {
				padding-left: 0px;
				padding-bottom: 22px;
			}
			.cta{
				padding-left: 0px;
			}
		}

		ul {
			li {
				.fa-solid {
					padding-right: 3px;
				}
			}
		}
	}
	.container_footer {
		display: flex;
		flex-direction: row;
		width: 768px;
		padding-top: 0px;
		padding-left: 48px;
		.services {
			display: flex;
			flex-direction: row;
			width: 482px;
			margin-right: 24px;
			ul {
				>li {
					margin-right: 62px;
				}
			}
		}
		ul {
			width: 500px;
			display: flex;
			padding-right: 7px;
		}
		.politique {
			ul {
				>li {
					margin-right: 7px;
				}
			}
		}
	}
	.politique {
		display: flex;
		flex-direction: row;
		width: 482px;
		margin-right: 24px;
	}
}

	
		
	/*responsiv desktop*/

@media screen and (min-width:770px) and (max-width:1440px) {
	body{
		height:1562px ;
	}
	.loader-1{
		left: 45%;
	}
	.loader{
		width: 100px;
		height: 100px;
	}
	.titre{
		height: 96px;
	}
	.solutions{
		height: 228px;
		justify-content: center;
		align-items: center;
		padding-top: 0px;
			h2{
				margin-right: 854px;
			}
	
			.container{
				width: 1053px;
				flex-direction: row;
				margin-left: 61px;
			}
				.btn , .btn2 , .btn3{
					margin-right: 36.5px;
				
				}
					.btn > p{
						left: 210px;
					
					}
					.btn2 > p{
						left: 562px;
					}
					
					.btn3 > p{
						left: 913px;
					
						}
					
					}


					.restaurants{
						height: 820px;
						justify-content: center;
						align-items: center;
						
						.cards{
							width: 490px;
							height: 251px;
							margin-right: 67px;
							margin-bottom: 100px;
						}

							.oneposition , .threeposition{
								left: 464px;
								bottom: -42px;
							}

							.twoposition , .fourposition{
								left:-695px;
								bottom: -42px;
							}

							img{
								width: 490px;
								margin-top: -57px;
							}

							.badge{
								left: 573px;
								top: 792px;

							}
							.badge2{
								left:1156px;
								top: 792px;

							}
							
						
					
					h2{
						margin-right: 900px;
						padding-left: 0px;
					}
				
				}
					.les_etablissements{
						width: 1188px;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						margin-left: 80px;
					}
					.footer {
						width: 100%;
						display: flex;
						flex-direction: row-reverse;
						.details {
							display: flex;
							flex-direction: row-reverse;
							h4 {
								padding-top: 90px;
								padding-right: 76px;
							}
						}
						ul {
							li {
								.fa-solid {
									padding-right: 3px;
								}
							}
						}
					}
					.container_footer {
						display: flex;
						flex-direction: row;
						width: 768px;
						align-items: center;
						justify-content: left;
						padding-top: 0px;
						padding-left: 176px;
						margin-right: 78px;
						.services {
							display: flex;
							flex-direction: row;
							width: 380px;
							margin-right: 57px;
							ul {
								>li {
									margin-right: 9px;
									width: 200px;
								}
							}
						}
						ul {
							width: 434px;
							display: flex;
						}
						.politique {
							ul {
								>li {
									margin-right: 15px;
								}
							}
						}
					}
					.politique {
						display: flex;
						flex-direction: row;
						width: 380px;
						margin-right: 57px;
					}
				}
				
				
@media screen and (min-width:1700px) and (max-width:2560px) {

	body{
		height:1562px ;
	}
	.loader-1{
		left: 45%;
	}
	.loader{
		width: 100px;
		height: 100px;
	}
	.titre{
		height: 96px;
		img{
			left: 619px;
			top: 28px;
		}
	}
	
	
	.solutions{
		height: 228px;
		justify-content: center;
		align-items: center;
		padding-top: 0px;
			h2{
				margin-right: 854px;
			}
	
			.container{
				width: 1053px;
				flex-direction: row;
				margin-left: 61px;
			}
				.btn , .btn2 , .btn3{
					margin-right: 36.5px;
				
				}
					
					
					}


					.restaurants{
						height: 820px;
						justify-content: center;
						align-items: center;
						
						.cards{
							width: 490px;
							height: 272px;
							margin-right: 67px;
							margin-bottom: 100px;
						}

							.oneposition , .threeposition{
								left: 438px;
								bottom: -38px;
							}

							.twoposition , .fourposition{
								left:-691px;
								bottom: -38px;
							}

							img{
								width: 490px;
							}

							.badge{
								left: 778px;
								top: 782px;

							}
							.badge2{
								left:1360px;
								top: 782px;

							}
							
						
					
					h2{
						margin-right: 900px;
						padding-left: 0px;
					}
				
				}
					.les_etablissements{
						width: 1188px;
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						align-items: center;
						justify-content: center;
						margin-left: 80px;
					}
					.footer {
						width: 100%;
						display: flex;
						flex-direction: row-reverse;
						.details {
							display: flex;
							flex-direction: row-reverse;
							h4 {
								padding-top: 90px;
								padding-right: 76px;
							}
						}
						ul {
							li {
								.fa-solid {
									padding-right: 3px;
								}
							}
						}
					}
					.container_footer {
						display: flex;
						flex-direction: row;
						width: 768px;
						align-items: center;
						justify-content: left;
						padding-top: 0px;
						padding-left: 176px;
						margin-right: 78px;
						.services {
							display: flex;
							flex-direction: row;
							width: 380px;
							margin-right: 57px;
							ul {
								>li {
									margin-right: 9px;
									width: 200px;
								}
							}
						}
						ul {
							width: 434px;
							display: flex;
						}
						.politique {
							ul {
								>li {
									margin-right: 15px;
								}
							}
						}
					
					.politique {
						display: flex;
						flex-direction: row;
						width: 380px;
						margin-right: 57px;
					}
					}
				}
			
				


					