@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #FFFFFF;
  height: 2121px;
}

/* Début de mon Loader */
@-webkit-keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
/* loader Quart de cercle */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
.chargement {
  z-index: 1000;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 2401px;
  line-height: 500px;
  background: linear-gradient(rgba(146, 86, 220, 0.8862745098), #ff79d9);
  -webkit-animation: disappear 3s 1s forwards;
          animation: disappear 3s 1s forwards;
  transform-origin: top;
  width: 100%;
}

.loader-1 {
  position: absolute;
  font-size: 2rem;
  color: #FFFFFF;
  left: 23%;
  top: 10%;
}

.loader {
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.loader-quart {
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
}
.loader-quart:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #F7F7F7;
  -webkit-animation: spin 1s linear 0s infinite;
          animation: spin 1s linear 0s infinite;
}

/* Fin de mon Loader*/
.titre {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 63px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}
.titre img {
  height: 36px;
  width: 197px;
}

.bar_search {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  margin-top: 2.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#ville {
  width: 174px;
  height: 32px;
  border: none;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  padding-left: 17px;
  letter-spacing: 1px;
  color: #101010;
  background: transparent;
}

.icon {
  color: #101010;
}

form {
  align-items: center;
  display: flex;
}

.introduction {
  width: 100%;
  height: 292px;
  margin-top: 0px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.introduction h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-family: "roboto flex", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  width: 100%;
  height: 68px;
  padding-top: 39.5px;
}
.introduction p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 41.5px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  color: #101010;
}

.cta {
  color: #FFFFFF;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 57px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 0px 2px 8px rgb(0, 0, 0);
}
.cta:hover {
  color: #FFFFFF;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 50px;
  background: linear-gradient(rgba(255, 121, 217, 0.835) 0%, rgba(146, 86, 220, 0.863) 100%);
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 57px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-shadow: 3px 4px 10px rgb(0, 0, 0);
}

.solutions {
  width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 48px;
}
.solutions h2 {
  display: flex;
  justify-content: stretch;
  padding-left: 32px;
  font-family: "roboto flex", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 20px;
}
.container .btn, .container .btn2, .container .btn3 {
  display: flex;
  align-items: center;
  width: 335px;
  height: 72.5px;
  margin-bottom: 25px;
  background: #F7F7F7;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.container .box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -1rem;
  color: #FFFFFF;
  font-family: "roboto";
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  margin-right: 336px;
}
.container .box > p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  margin-right: 22px;
}
.container .box a {
  margin-left: 27px;
  width: 377px;
}

.fa-mobile-screen-button {
  font-size: large;
  padding-left: 10px;
  color: #7E7E7E;
}

.fa-list-ul {
  font-size: large;
  padding-left: 10px;
  color: #7E7E7E;
}

.fa-store {
  font-size: large;
  color: #9356DC;
  padding-left: 10px;
}

a {
  color: #000000;
  font-size: 16px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  background-color: #F7F7F7;
  height: 1291px;
}
.restaurants h2 {
  padding-top: 54px;
  padding-bottom: 35px;
  font-family: "roboto flex", sans-serif;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  padding-left: 4px;
}
.restaurants .les_etablissements {
  margin-bottom: 20px;
}
.restaurants .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 346px;
  height: 251px;
  background-color: #FFFFFF;
  border-radius: 15px;
  margin-left: Opx;
  margin-bottom: 18px;
  overflow: hidden;
}
.restaurants img {
  width: 346px;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
  margin-top: -57px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card_content {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.card_txt {
  padding: 0px 13px 12px 13px;
}
.card_txt p {
  font-family: "roboto", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
}
.card_txt h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  width: 267px;
}

.card_rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: flex-end;
  position: relative;
  bottom: 73px;
  left: -31px;
}
.card_rating .coeur_plein {
  position: absolute;
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
}
.card_rating .coeur_plein:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-regular {
  font-weight: 300;
  font-size: 1.5em;
}

.fa-heart {
  font-weight: 300;
  font-size: 1.5em;
}

.badge {
  position: absolute;
  left: 265px;
  top: 980px;
  width: 80px;
  height: 29px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
}
.badge > p {
  width: 61.37px;
  height: 16px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  right: 9.63px;
  top: calc(50% - 8px + 0.5px);
}

.badge2 {
  position: absolute;
  left: 265px;
  top: 1274px;
  width: 80px;
  height: 28px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  color: #008766;
}
.badge2 > p {
  width: 61.37px;
  height: 16px;
  font-family: "roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  line-height: 16px;
  position: absolute;
  right: 9.63px;
  top: calc(50% - 8px + 0.5px);
}

.footer {
  height: 214px;
  background-color: #353535;
  display: flex;
  flex-direction: column;
}
.footer .details {
  display: flex;
}
.footer .details h4 {
  padding-left: 25px;
  padding-top: 22px;
}
.footer ul > li {
  padding-bottom: 7px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
.footer ul li .fa-solid {
  padding-right: 11px;
  color: #FFFFFF;
}
.footer ul li .espace {
  margin-right: 9px;
  padding-left: 1px;
}

.details {
  display: flex;
  padding-bottom: 18px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
}
.details h4 {
  color: #FFFFFF;
}

li {
  color: #FFFFFF;
}

.container_footer {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.services {
  display: flex;
  flex-direction: column;
}

.politique {
  display: flex;
  flex-direction: column;
}

.politique ul li > a {
  color: #FFFFFF;
}

/*responsiv tablette*/
@media screen and (min-width: 576px) and (max-width: 768px) {
  body {
    height: 1709px;
  }
  .chargement {
    width: 768px;
    height: 1790px;
  }
  .loader-1 {
    left: 285px;
  }
  .titre {
    height: 96px;
  }
  .solutions {
    padding-left: 10px;
    height: 331px;
    align-items: center;
    margin-left: 12px;
  }
  .solutions h2 {
    padding-left: 0px;
  }
  .solutions .container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 18px;
  }
  .solutions .btn, .solutions .btn2, .solutions .btn3 {
    margin-right: 35px;
  }
  .restaurants {
    padding-left: 40px;
    width: 768px;
    height: 737px;
    align-items: center;
  }
  .restaurants .cards {
    margin-bottom: 50px;
    margin-right: 20px;
    width: 324px;
    height: 261px;
  }
  .restaurants img {
    width: 376px;
    margin-left: -3rem;
  }
  .restaurants h2 {
    padding-left: 0px;
  }
  .restaurants .les_etablissements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 743px;
  }
  .restaurants .card_rating {
    left: -4rem;
  }
  .restaurants .badge {
    left: 274px;
    top: 910px;
  }
  .restaurants .badge2 {
    top: 910px;
    left: 643px;
  }
  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .footer .details {
    display: flex;
    justify-content: center;
  }
  .footer .details h4 {
    padding-left: 0px;
    padding-bottom: 22px;
  }
  .footer .details .cta {
    padding-left: 0px;
  }
  .footer ul li .fa-solid {
    padding-right: 3px;
  }
  .container_footer {
    display: flex;
    flex-direction: row;
    width: 768px;
    padding-top: 0px;
    padding-left: 48px;
  }
  .container_footer .services {
    display: flex;
    flex-direction: row;
    width: 482px;
    margin-right: 24px;
  }
  .container_footer .services ul > li {
    margin-right: 62px;
  }
  .container_footer ul {
    width: 500px;
    display: flex;
    padding-right: 7px;
  }
  .container_footer .politique ul > li {
    margin-right: 7px;
  }
  .politique {
    display: flex;
    flex-direction: row;
    width: 482px;
    margin-right: 24px;
  }
}
/*responsiv desktop*/
@media screen and (min-width: 770px) and (max-width: 1440px) {
  body {
    height: 1562px;
  }
  .loader-1 {
    left: 45%;
  }
  .loader {
    width: 100px;
    height: 100px;
  }
  .titre {
    height: 96px;
  }
  .solutions {
    height: 228px;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
  .solutions h2 {
    margin-right: 854px;
  }
  .solutions .container {
    width: 1053px;
    flex-direction: row;
    margin-left: 61px;
  }
  .solutions .btn, .solutions .btn2, .solutions .btn3 {
    margin-right: 36.5px;
  }
  .solutions .btn > p {
    left: 210px;
  }
  .solutions .btn2 > p {
    left: 562px;
  }
  .solutions .btn3 > p {
    left: 913px;
  }
  .restaurants {
    height: 820px;
    justify-content: center;
    align-items: center;
  }
  .restaurants .cards {
    width: 490px;
    height: 251px;
    margin-right: 67px;
    margin-bottom: 100px;
  }
  .restaurants .oneposition, .restaurants .threeposition {
    left: 464px;
    bottom: -42px;
  }
  .restaurants .twoposition, .restaurants .fourposition {
    left: -695px;
    bottom: -42px;
  }
  .restaurants img {
    width: 490px;
    margin-top: -57px;
  }
  .restaurants .badge {
    left: 573px;
    top: 792px;
  }
  .restaurants .badge2 {
    left: 1156px;
    top: 792px;
  }
  .restaurants h2 {
    margin-right: 900px;
    padding-left: 0px;
  }
  .les_etablissements {
    width: 1188px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer .details {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer .details h4 {
    padding-top: 90px;
    padding-right: 76px;
  }
  .footer ul li .fa-solid {
    padding-right: 3px;
  }
  .container_footer {
    display: flex;
    flex-direction: row;
    width: 768px;
    align-items: center;
    justify-content: left;
    padding-top: 0px;
    padding-left: 176px;
    margin-right: 78px;
  }
  .container_footer .services {
    display: flex;
    flex-direction: row;
    width: 380px;
    margin-right: 57px;
  }
  .container_footer .services ul > li {
    margin-right: 9px;
    width: 200px;
  }
  .container_footer ul {
    width: 434px;
    display: flex;
  }
  .container_footer .politique ul > li {
    margin-right: 15px;
  }
  .politique {
    display: flex;
    flex-direction: row;
    width: 380px;
    margin-right: 57px;
  }
}
@media screen and (min-width: 1700px) and (max-width: 2560px) {
  body {
    height: 1562px;
  }
  .loader-1 {
    left: 45%;
  }
  .loader {
    width: 100px;
    height: 100px;
  }
  .titre {
    height: 96px;
  }
  .titre img {
    left: 619px;
    top: 28px;
  }
  .solutions {
    height: 228px;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
  }
  .solutions h2 {
    margin-right: 854px;
  }
  .solutions .container {
    width: 1053px;
    flex-direction: row;
    margin-left: 61px;
  }
  .solutions .btn, .solutions .btn2, .solutions .btn3 {
    margin-right: 36.5px;
  }
  .restaurants {
    height: 820px;
    justify-content: center;
    align-items: center;
  }
  .restaurants .cards {
    width: 490px;
    height: 272px;
    margin-right: 67px;
    margin-bottom: 100px;
  }
  .restaurants .oneposition, .restaurants .threeposition {
    left: 438px;
    bottom: -38px;
  }
  .restaurants .twoposition, .restaurants .fourposition {
    left: -691px;
    bottom: -38px;
  }
  .restaurants img {
    width: 490px;
  }
  .restaurants .badge {
    left: 778px;
    top: 782px;
  }
  .restaurants .badge2 {
    left: 1360px;
    top: 782px;
  }
  .restaurants h2 {
    margin-right: 900px;
    padding-left: 0px;
  }
  .les_etablissements {
    width: 1188px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  }
  .footer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
  .footer .details {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer .details h4 {
    padding-top: 90px;
    padding-right: 76px;
  }
  .footer ul li .fa-solid {
    padding-right: 3px;
  }
  .container_footer {
    display: flex;
    flex-direction: row;
    width: 768px;
    align-items: center;
    justify-content: left;
    padding-top: 0px;
    padding-left: 176px;
    margin-right: 78px;
  }
  .container_footer .services {
    display: flex;
    flex-direction: row;
    width: 380px;
    margin-right: 57px;
  }
  .container_footer .services ul > li {
    margin-right: 9px;
    width: 200px;
  }
  .container_footer ul {
    width: 434px;
    display: flex;
  }
  .container_footer .politique ul > li {
    margin-right: 15px;
  }
  .container_footer .politique {
    display: flex;
    flex-direction: row;
    width: 380px;
    margin-right: 57px;
  }
}/*# sourceMappingURL=homepage.css.map */